.col-md-6{
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;
	float: left;
}

.left-side{
    position: relative;
	height: 1000px;
    text-align: center;
    background-image: url("../images/bg.jpg");
    background-size: auto auto;
    background-size: cover;
}

.left-side header {
  position: relative;
  margin-top: 80px;
}
.left-side header span {
  margin-bottom: 6px;
  display: block;
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  letter-spacing: 0.12em;
}
.left-side header h3 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.01em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.right-side {
  position: relative;
  padding: 120px 120px 100px 120px;
  height: 100vh;
  background: #fff;
}
.right-side .input {
  margin-top: 0;
  margin-left: 0;
}

.right-side .input input {
  font-size: 14px;
}
.right-side .cta {
  margin-top: 40px;
}
.right-side .cta .btn {
  padding: 13px 25px;
  border: none;
  color: #fff;
  display: inline-block;
  background: #ff5500;
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.12em;
  border-radius: 24px;
}
.right-side .cta .btn:hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background: #ff3f00;
}
.right-side .cta span {
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
}
.right-side .cta span a {
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  letter-spacing: 0.1em;
}
.right-side .social {
  position: absolute;
  padding: 0;
  bottom: 30px;
  right: 120px;
}
.right-side .social li {
  margin-left: 8px;
  display: inline-block;
}
.right-side .social li:last-child:after {
  display: none;
}
.right-side .social li:after {
  padding-left: 10px;
  content: "-";
  color: #ff5500;
}
.right-side .social li a {
  font-family: 'lato', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  letter-spacing: 0.1em;
}